In [16]:
#Dependencies
import pandas as pd

In [17]:
#Import CSV file
purchasedata = r"C:\Users\lavg1\tdm-mxc-data-pt-12-2020-u-c\tdm-mxc-data-pt-12-2020-u-c\week-4-pandas\homework\Instructions\HeroesOfPymoli\Resources\purchase_data.csv"

In [18]:
#Read data
purchasedata_df = pd.read_csv(purchasedata)
purchasedata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [29]:
#Display total number of players
total_players = len(purchasedata_df["SN"].unique())
player_count = pd.DataFrame({"Total Players":total_players},index = [0])
player_count

   Total Players
0            576

In [30]:
#Basic Calculations
#Number of unique items
unique_items = len(purchasedata_df["Item ID"].unique())
#Average Price
average_price = purchasedata_df["Price"].mean()
#Number of purchases
number_purchases = purchasedata_df["Purchase ID"].count()
#Total Revenue
revenue = purchasedata_df["Price"].sum()

In [32]:
#Summary data frame of basic calculations
basic_calculations = pd.DataFrame({"Number of Unique Items":unique_items, "Average Price":average_price, "Number of Purchases":number_purchases, "Total Revenue":revenue},index =[0])
basic_calculations["Average Price"] = basic_calculations["Average Price"].map("${:.2f}".format)
basic_calculations["Total Revenue"] = basic_calculations["Total Revenue"].map("${:,.2f}".format)
basic_calculations

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [59]:
#Gender demographics
#Percentage and Count of Male/Female Players
#Percentage and Count of Other/Non-Disclosed
gender = purchasedata_df.groupby("Gender")
unique_members = gender["SN"].nunique()
percentage_players = (unique_members/total_players) * 100

In [61]:
#Summary data frame of gender demografics
gender_demo = pd.DataFrame({"Total Count":unique_members,"Percentage of Players":percentage_players})
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:.2f}%".format)
gender_demo

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [63]:
#Purchasing Analysis (Gender)
#Basic Calculations
#Purchase Count
purchase_gen = gender["Age"].count()
#Average Purchase Price
avggen_purchase = gender["Price"].mean()
#Total Purchase
totalp_gen = gender["Price"].sum()
#Average Total Purchase
avgtot_purchase = (gender["Price"].sum()/unique_members)

In [67]:
#Summary data frame of purchasing analysis (Gender)
gender_analysis = pd.DataFrame({"Purchase Count":purchase_gen, "Average Purchase Price":avggen_purchase, "Total Purchase Value":totalp_gen,"Average Total Purchase per Person":avgtot_purchase})
gender_analysis["Average Purchase Price"] = gender_analysis["Average Purchase Price"].map("${:.2f}".format)
gender_analysis["Total Purchase Value"] = gender_analysis["Total Purchase Value"].map("${:.2f}".format)
gender_analysis["Average Total Purchase per Person"] = gender_analysis["Average Total Purchase per Person"].map("${:.2f}".format)
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [68]:
#Age Demographics
#Establish bins for ages
age = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
#Labels
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Categorize the existing players using the age bins
purchasedata_df["Age Group"] = pd.cut(purchasedata_df["Age"],age, labels=age_labels)
purchasedata_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [71]:
#Calculate the numbers and percentages by age group
age_group = purchasedata_df.groupby("Age Group")
age_unique = age_group["SN"].nunique()
percentage_age = (age_unique/total_players) * 100

In [73]:
#Summary data frame of age demographics
age_demographics = pd.DataFrame({"Total Count":age_unique, "Percentage of Players":percentage_age})
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)
age_demographics

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [75]:
#Purchasing Analysis (Age)
#Bin the data frame by age (done previously)
#Basic calculations 
#Purchase Count
purchase_age = age_group["Age"].count()
#Average Purchase Price
avgage_purchase = age_group["Price"].mean()
#Total Purchase
totalp_age = age_group["Price"].sum()
#Average Total Purchase
avgtot_purchaseage = (age_group["Price"].sum()/age_unique)

In [76]:
#Summary data frame of purchasing analysis (Age)
age_analysis = pd.DataFrame({"Purchase Count":purchase_age, "Average Purchase Price":avgage_purchase, "Total Purchase Value":totalp_age,"Average Total Purchase per Person":avgtot_purchaseage})
age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].map("${:.2f}".format)
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].map("${:.2f}".format)
age_analysis["Average Total Purchase per Person"] = age_analysis["Average Total Purchase per Person"].map("${:.2f}".format)
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [84]:
#Top Spenders
#Group Top Spenders
sn = purchasedata_df.groupby("SN")
#Basic Calculations
#Purchase Count
toppur_count = sn["SN"].count()
#Average Purchase Price
avgtp_purchase = sn["Price"].mean()
#Total Purchase Value
totalp_sn = sn["Price"].sum()

In [88]:
#Summary data frame
top_spenders = pd.DataFrame({"Purchase Count":toppur_count, "Average Purchase Price":avgtp_purchase, "Total Purchase Value":totalp_sn})
#Sort Total Purchase Column in descending order
top_spenders = top_spenders.sort_values("Total Purchase Value", ascending = False)
#Format Avg Purchase and Total Purchase
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:.2f}".format)
top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [90]:
#Most Popular Items
#Retrieve Item ID, Item Name and Item Price Columns
popitems_df = purchasedata_df.loc[:, ["Item ID", "Item Name", "Price"]]
#Group by Item ID and Item Name
pt = purchasedata_df.groupby(["Item ID", "Item Name"])
#Basic Calculations
#Purchase Count
ptpur_count = pt["Age"].count()
#Average Purchase Price
avgpt_purchase = pt["Price"].mean()
#Total Purchase Value
totalp_pt = pt["Price"].sum()

In [98]:
#Summary data frame
popular_items = pd.DataFrame({"Purchase Count":ptpur_count, "Average Item Price":avgpt_purchase, "Total Purchase Value":totalp_pt})
#Sort Purchase Count column in descending order
popular_items = popular_items.sort_values("Purchase Count", ascending = False)
#Format Avg Purchase and Total Purchase
popular_items["Average Item Price"] = popular_items["Average Item Price"].map("${:.2f}".format)
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].map("${:.2f}".format)
popular_items.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [101]:
#Most Profitable Items
#Summary data frame
popular_items = pd.DataFrame({"Purchase Count":ptpur_count, "Average Item Price":avgpt_purchase, "Total Purchase Value":totalp_pt})
#Sort the above table by Total Purchase Value in descending order
popular_items = popular_items.sort_values("Total Purchase Value", ascending = False)
#Format Avg Purchase and Total Purchase
popular_items["Average Item Price"] = popular_items["Average Item Price"].map("${:.2f}".format)
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].map("${:.2f}".format)
popular_items.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

In [ ]:
#Principal observable trends
#1. From the data we can observe that most of the players are male with a 84.03 percent of the total players.
#2. Most of the players are within the age group of 20-24.
#3. The most popular and profitable item is Final Critic, followed by Oathbreaker, Last Hope of the Breaking Storm.